.flex_card{
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
}
.card{
    width: 360px;
    padding: 15px;
}
.row{
    font-size: 15px;
    color: darkolivegreen;
}
.buttons{
    text-align: center;
    padding: 20px;
}